# Ignorar node_modules en frontend y backend
frontend/node_modules/
backend/node_modules/

# Ignorar dependencias de Python (si usas Django o Flask)
backend/venv/
backend/__pycache__/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de entorno
.env
